body{ 
  margin: 0;
  background-color: rgb(16, 16, 34);
  background-image: url(assets/BG.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.nav-bar{ 
  background-color: rgb(12, 17, 29);
  display: flex;
  position: sticky;
  position: fixed;
  right: 5px;
  padding-right: 20px;
  width: 100%;
  flex-direction: row;
  justify-content: right;
  align-items: center;  
  margin: 0;
  height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
  z-index: 2;
}

.nav-btn{ 
  display: flex;
  gap: 15px;
}
.link{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  color: rgb(15, 52, 153);
  text-decoration: none;
  transition: 1s;
}
.link:hover{ 
  font-size: 22px;
  color: rgb(44, 135, 240);
}

Button{
background-color: rgb(15, 15, 32);
width: 100px;
height: 30px;
color: aliceblue;
font-size: 15px;
font-weight: 900;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border-radius: 5px;
border: 1px solid rgb(102, 102, 102);
}

.homepage{ 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homeInfo{ 
  display: inline-flex;
  flex-direction: row;
  gap: 50px;
  background-color: rgba(0, 0, 0, 0.842);
  height: 250px;
  max-height: 500px;
  max-width: 900px;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 80px;
  border: 5px solid rgba(245, 245, 245, 0.068);
  border-radius: 20px;
}

.profilePic{ 
  border-radius: 10px;
  border: 1px solid rgb(53, 53, 53);
  transition: 1s;
}
.profilePic:hover{ 
  transform: scale(1.10);
}

.icon-area{ 
  display: flex; 
  gap: 10px;
}


.icon{ 
  width: 30px;
  cursor: pointer;
}


.not-loggedIn{ 
  background-color: rgba(0, 0, 0, 0.842);
  color: rgb(240, 222, 222);
  padding: 200px;
  text-align: center;
  border-radius: 20px;
  max-height: 100px;
  border: 5px solid rgba(0, 0, 0, 0.342);
}


.login-page{ 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-area{ 
  background-color: rgba(89, 161, 223, 0.699);
  border: 1px solid rgba(9, 9, 36, 0.384);
  color: black;
  padding: 50px;
  border-radius: 20px;
  text-align: center;
}

input{ 
  margin: 24px;
  height: 30px;
  width: 200px;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px;
  border: none;

}

input:active, input:focus {
  font-size: 15px;
  padding: 5px;
  outline: none;
}